/* GENERAL */

*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("../img/bg-2.png");  
}

.login{
    width: 100%;
    position: relative;
}
.login li{
    list-style: none;
    display: inline;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

}
.login a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
body .login nav ul li a{
    font-weight: lighter;
   
}
/* HEADER */
.login header{
    background-color: rgb(248, 76, 28);
    overflow: hidden;
    position: fixed;
    max-width:1140px;
    width: 100%;
    z-index: 1;
    top:0;
}
.navegar {
    float: left;
   padding-left: 5px;
    padding-bottom: 0px;
    letter-spacing: 2px;
    word-spacing: 5px;
    display:none;
}
.login header ul.navegarCelu{
    /* padding: 10px; */
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.logo{
    display:block;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 5px;
}

/* SECCION DE PRODUCTOS/MAIN */
.login main{
    display: block;
    max-width: 350px;
}
.login main h1{
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    padding-top: 25vh;
    margin-bottom: 25px;
    color: rgb(37, 37, 37);
}
.login main p {
    padding: 5px;
}
.login main p label{
     font-weight: bolder;
     color: rgb(37, 37, 37);
}
.login main p input{
    padding: 4px;
    width:350px;
    border: rgb(128, 128, 128);
}
 div .recordar  {
    text-align: right;
    display: block;
    float: right;
    margin-top: 20px;
    width: 100%;
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(37, 37, 37);
}
button{
    background-color: rgb(36, 117, 248);
    padding: 7px 30px;
    color: white;
    border: none;
    border-radius: 7px;
    margin-top: 80px;
    font-weight: bold;
    font-size: larger;
    
}
.validar{
    width: 100%;
    color: red;
    padding:0px;
    margin-top: 50px;
}
/* SECCION HOVER */
.navegarCelu li a:hover{
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 1px
     rgb(255, 230, 0), 0 0 22px #eeff00, 0 0 25px #e5ff00;
    -webkit-text-fill-color: #f8f8f8;
    -webkit-text-stroke-color:#ffffff;
    -webkit-text-stroke-width:0.2px;
}

.navegar li a:hover{
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 1px
     rgb(255, 230, 0), 0 0 22px #eeff00, 0 0 25px #e5ff00;
    -webkit-text-fill-color: #f8f8f8;
    -webkit-text-stroke-color:#ffffff;
    -webkit-text-stroke-width:0.2px;
}

.registro li a:hover{
    color: #fff;
    text-shadow: 0 0 10px rgb(255, 230, 0), 0 0 15px #fff, 0 0 1px rgb(255, 238, 0), 0 0 22px #ffe600, 0 0 25px #fbff00;
    -webkit-text-fill-color: #f8f8f8;
    -webkit-text-stroke-color:#ffffff;
    -webkit-text-stroke-width:0.2px;
}

.logo:hover{
    background: radial-gradient(rgb(255, 230, 0), rgb(255, 102, 0), rgba(255, 68, 0, 0.575));
}
button:hover{
    background-color: rgb(251, 45, 13);
}

/* TABLETS */
@media(min-width:426px){
    .login header nav .navegar{
        display: inline;
        margin-top: 20px;
        }
        .login header nav .navegarCelu{
            display: none;
        }
        .registro{
            padding-right: 10px;
        }
        .logo{
            padding-bottom: 10px;
        }  
}
/* LAPTOPS EN ADELANTE */
@media(min-width:1024px){
    .login{
        max-width: 1140px
    }
    .login header{
        width: 100%;
    }
    .login header .registro{
        word-spacing: 5px;
    }
}